.axis-label{
    font-size: small;
}

.radar-tooltip {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    background-color: #09090b;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #27272a;
    transition: opacity 0.3s; 

    color: white;             
    font-size: 14px;         
    line-height: 1.5;        
    display: flex;
    gap: 10px;
    text-align: left;
}